<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/add}" th:object="${person}" method="post">
    First name: <input type="text" th:field="*{fname}" /><br />
    Last name: <input type="text" th:field="*{lname}" /><br />
    Address: <input type="text" th:field="*{address}" /><br />
    Phone number: <input type="text" th:field="*{phoneNr}" /><br />
    Email: <input type="text" th:field="*{email}" /><br />
    <input type="submit" value="Submit" />

</form>

</body>
</html>